<!DOCTYPE html>

<html>
<head>
  <title>Server-sent Homework Events</title>
  <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
  <script src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type="text/javascript"></script>
</head>
<body>
  <h1>Server-sent Homework Events</h1>
  <ul id="eventList"></ul>
  <script type="text/javascript" charset="utf-8">
    "strict"

    $(function() {
      if (!!window.EventSource) {
        var feed = new EventSource('@routes.Application.subscribeToHomeworkStream');

        feed.addEventListener('open', function (e) {
          console.log("Connection open");
        }, false);

        feed.addEventListener('message', function(e) {
          var data = JSON.parse(e.data);
          // do something with the message
          $("#eventList").append("<li><code>" + data.name + ", " + data.lectureId + ", " + data.studentUserId + "</code></li>");
          console.log(data);
        }, false);

        feed.addEventListener('error', function (e) {
          if (e.eventPhase == EventSource.CLOSED) {
            console.log("Connection closed");
            feed.close();
          } else {
            console.log("Unknown error" + e);
          }
        }, false);
      } else {
        console.log("Server-sent events are not supported by this browser");
      }
    });
  </script>
</body>
</html>

